.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}

.new-expense {
  background-color: #8e9e30;
  padding: 1rem;
  margin: 2rem auto;
  width: 60rem;
  max-width: 90%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense__button {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  background-color: #4b694d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  transition: all 0.1s;
  align-self: center;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #fff;
  border-color: #4b694d;
  color: #4b694d;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #fff;
  color: #4b694d;
}

button.add-expense {
  margin: 0 auto;
}
button.cancel {
  background-color: rgb(146, 54, 54);
}
